/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2016, 11:43:17 AM
    Author     : Ayoub MOUSTAID
*/

.table2 th{
    border:1px solid red;
    margin:10px;
    padding:10px;
}
.table2 td{
    border:1px solid gray;
    margin:10px;
    padding:10px;
}